@font-face {
	font-family: "u died";
	src: url(./assets/fonts/OptimusPrinceps.ttf);
}

#hudbox {
	display: flex;
	justify-content: center;
}

#hud {
	position: absolute;
	top: 100px;
	padding: 10px;
	text-align: center;
	z-index: 100;
	display:block;
	background-color: rgba(0.2, 0.2, 0.2, 0.2);
}

.died {
	font-family: "u died";
	font-size: 2.4em;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	overscroll-behavior: none;
}

