#hudbox {
	display: flex;
	justify-content: center;
}

#hud {
	position: absolute;
	top: 100px;
	padding: 10px;
	text-align: center;
	z-index: 100;
	display:block;
	background-color: rgba(0.2, 0.2, 0.2, 0.2);
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	overscroll-behavior: none;
}

